tensorflow==2.11.1
tensorboard==1.12.2
google-cloud-dataflow==2.5.0
gsutil==4.35
apache-beam==2.9.0
tensorflow-transform==0.11.0
tflearn==0.3.2
tensor2tensor==1.12.0
Gutenberg==0.7.0   # Gives us access to historical poems